# CI / GitHub
/.github/**            export-ignore

# Development
/quality/**            export-ignore
/tests/**              export-ignore

# Configuration files
/.gitattributes        export-ignore
/.gitignore            export-ignore
/.versionrc.json       export-ignore
/phpunit.xml.dist      export-ignore

# Developer documentation
/CHANGELOG.md          export-ignore
/CONTRIBUTING.md       export-ignore
