parameters:
	ignoreErrors:
		-
			message: "#^Method LongitudeOne\\\\Geo\\\\String\\\\Tests\\\\LexerTest\\:\\:dataProvider\\(\\) return type with generic class Doctrine\\\\Common\\\\Lexer\\\\Token does not specify its types\\: T, V$#"
			count: 1
			path: ../../tests/LongitudeOne/Geo/String/Tests/LexerTest.php